.about {
  padding: 50px;
  text-align: center;
  background: #f9f9f9;
}

.about h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #003366;
}

.about p {
  font-size: 18px;
  color: #444;
  max-width: 700px;
  margin: 0 auto;
}
